
body {
    padding: 0;
    margin: 15px;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    color: #333;
}


h1, h2 {
    color: #2c3e50;
    margin-bottom: 10px;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 0 20px 0;
}

nav li {
    margin: 10px 0;   
    display: block;   
}


nav a {
    text-decoration: none;
    color: #2980b9;
    font-weight: bold;
}

nav a:hover {
    color: #1abc9c;
}

.bold {
    font-weight: bold;
    color: #2c3e50;
}


img {
    width: 250px;
    height: auto; 
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
}

ul, ol {
    margin: 10px 0 20px 25px;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}
